@import './variables';
@import './card';
@import './stars';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: $fw-regular;
}

h3 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
